if ! has nix_direnv_version || ! nix_direnv_version 3.0.3; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.3/direnvrc" "sha256-0EVQVNSRQWsln+rgPW3mXVmnF5sfcmKEYOmOSfLYxHg="
fi

# Reload if any of these files change
watch_file .envrc.local

# Use flake
use flake

# Set project env variables
export PRJ_ROOT="${PRJ_ROOT:-$PWD}"
export PRJ_DATA_DIR="${PRJ_DATA_DIR:-${PWD}/.data}"

# Source extra local envrc overrides
source_env_if_exists "$PRJ_ROOT/.envrc.local"
